body {
  font-family: sans-serif;
}

body {
  background-color: black;
  background-image: url(https://i.ytimg.com/vi/DEIbKb3r5-U/maxresdefault.jpg);
}

.header{
  color: red;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
}

.subheader{
  color: magenta;
  text-align: center;
}

.additional{
  color: grey;
  text-align: center;
}

.navigation{
  color: black;
  background-color: black;
  font-family: cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation a {
  color: red;
  padding: 10px;
}

.navigation a:hover{
  color: green
}

a {color:navy;
}

a:hover {
  color: green;

  }

.clickherediv{
  flex: auto;
}

.clickhere{
    color: red;
    display: block;
    margin: auto;
    width: 20em;
    margin: auto;
    font-family: fantasy;
    font-weight: bolder;
  }
