body {
  font-family: sans-serif;
}

body {
  background-color: lightblue;
}

.header{
  color: red;
  text-align: center;
}

.subheader{
  color: magenta;
  text-align: center;
}

.additional{
  color: grey;
  text-align: center;
}

.navigation{
  color: Pink;
  background-color: green;
  font-family: cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation a {
  color: Pink;
  padding: 10px;
}

.navigation a:hover{
  color: lightblue
}

a {color:navy;
}

a:hover {
  color: green;

  }
