body {
  font-family: sans-serif;
}

body {
  background-color: black;
}

.header{
  color: red;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

.text{
  color: silver;
  font-weight: bold;
  text-align: center;
}

.subheader{
  color: red;
  text-align: center;
}

.additional{
  color: grey;
  text-align: center;
}

.list{
  color: grey;
  text-align: center;
  list-style: none;
}

.navigation{
  color: Pink;
  background-color: black;
  font-family: fantasy;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.whoisit{
  display: block;
  margin: auto;
  width: 50%;
}


/* HOW DO I CENTER THIS DIV */
/* .center-div{
  content: center */
/* } */
/* HOW DO I CENTER THIS DIV */


.navigation a {
  color: Pink;
  padding: 10px;
}

.navigation a:hover{
  color: lightblue
}

a {color:lightblue;
}

a:hover {
  color: green;

  }
